@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, caramellatte;
}

@theme {
  --animate-spin-slow: spin 60s linear infinite;
}

html {
  scroll-behavior: smooth;
}